section{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
section div{
    display:block;
    margin: 4rem 2rem;
    padding:2rem 2rem;
    width:50%;
    border-radius:10px;
    box-shadow:0 0 20px 5px white;
}
section button{
    margin:2vh 2vw;
    width:7rem;
    height:3rem;
    background-size:100% 100%;
    border:2px solid white;
    border-radius:60px;
}
section code{
    margin:0;
    display:block;
}
#donateTag{
    height:wrap-content;
}
#donateTag p{
    display:block;
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    font-size:3vw;
    color:#E84926;
    white-space:pre;
    text-align:center;
    text-decoration:underline;
}
#upi ul{
    display:flex;
    flex-direction:column;
}
#upi code{
    text-shadow:0.75px 0.75px white;
}
#ybl code{
    color:#FF671F;
}
#ibl code{
    color:#FFFFFF;
}
#axl code{
    color:#046A38;
}
#ybl::before, #ibl::before, #axl::before{
    white-space:pre;
    font-size:30%;
    color:#06038D;
    text-shadow:0.2px 0.2px white;
}
#ybl::before{
    content:"@ybl UPI Handles\a";
}
#ibl::before{
    content:"@ibl UPI Handles\a";
}
#axl::before{
    content:"@axl UPI Handles\a";
}
#paypalbtn{
    background-image:url("../assets/paypal.png");
}
#gitbtn{
    background-image:url("../assets/git.png");
}
#buymecoffeebtn{
    background-image:url("../assets/bmc.png");
}
#kofibtn{
    background-image:url("../assets/kofi.png");
}
