section div{
    display:block;
    margin: 10vh 5vw;
    border:2px double white;
    border-radius:10px;
    box-shadow:0 0 20px 5px white;
    text-align:center;
    justify-content:center;
}
#donateTag{
    height:10vh;
    text-align:center;
    justify-content:center;
}
#upi code{
    text-weight:600;
    text-shadow:0.75px 0.75px white;
}
#ybl code{
    color:#FF671F;
}
#ibl code{
    color:#FFFFFF;
}
#axl code{
    color:#046A38;
}
#ybl::before{
    content:"@ybl UPI Handles\a";
    white-space:pre;
    font-size:30%;
}
#ibl::before{
    content:"@ibl UPI Handles\a";
    white-space:pre;
    font-size:30%;
}
#axl::before{
    content:"@axl UPI Handles\a";
    white-space:pre;
    font-size:30%;
}
