section div{
    display:block;
    margin: 10vh 5vw;
    border:2px double white;
    border-radius:10px;
    box-shadow:0 0 20px 5px white;
    align-items:center;
    justify-content:center;
    text-align:center;
}
section btn{
    width:20vw;
    height:10vh;
    color:red;
}
#donateTag{
    height:10vh;
}
#upi ul{
    display:flex;
    flex-direction:column;
}
#upi code{
    text-shadow:0.75px 0.75px white;
}
#ybl code{
    color:#FF671F;
}
#ibl code{
    color:#FFFFFF;
}
#axl code{
    color:#046A38;
}
#ybl::before, #ibl::before, #axl::before{
    white-space:pre;
    font-size:30%;
    color:#06038D;
    text-shadow:0.2px 0.2px white;
}
#ybl::before{
    content:"@ybl UPI Handles\a";
}
#ibl::before{
    content:"@ibl UPI Handles\a";
}
#axl::before{
    content:"@axl UPI Handles\a";
}
