#mainContent img{
    margin:2rem 2rem;
    width:8rem;
    height:8rem;
    border:2px solid white;
    border-radius:100%;
}
#mainPara{
    text-align:right;
}
#secName::before{
    content:"Also Known As\a";
    white-space:pre;
}
