#mainContent{
    margin:10vh 10vw;
    display:inline-flex;
}
#mainContent img{
    width:40%;
    height:40%;
    border:2px solid white;
    border-radius:100%;
}
#mainPara{
    text-align:right;
}
#mainPara p{
    text-align:justify;
}
#secName::before{
    content:"Also Known As\a";
    white-space:pre;
    font-size:30%;
}
