@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
html{
    margin:0;
    padding:0;
}
body{
    background-color:#171717;
    color:white;
    font-family: 'Borel', cursive;
}
#navbar{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    justify-content:center;
    border-bottom:2px double white;
    font-family: 'Roboto Condensed', sans-serif;
}
#navbar ul{
    display:flex;
}
#navbar li{
    list-style:none;
    padding:0 6vw;
    color:white;
}
#navbar li a{
    color:white;
    text-decoration:none;
}
#navbar li::after{
    content:"";
    display:block;
    width:0;
    height:3px;
    background-color:white;
    transition: width 0.5s ease;
}
#navbar li:hover::after{
    width:100%;
}
